
body{
    background: #000;
    background: url('https://media.gettyimages.com/photos/traditional-coffee-cup-with-heartshaped-steam-on-rustic-wood-picture-id517518956?b=1&k=20&m=517518956&s=170667a&w=0&h=JTN8YiHPlvKpci_HQ5fbRkg12QIGgxU1my8dkL6moNk=');
    background-repeat: no-repeat;
    background-size: cover;
    }
    

    
    nav{ 
        background-color:rgb(17, 12, 2);
    height: 23%;
    width: 33%;
    
}
ul{
    padding:15px 15px;
}
.con{
    font-size: 23px;
    display: flex;
    list-style: none;
    margin-left: 567px;
    
}

nav ul li a{
    list-style: none;
    font-style: none;
    padding:15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
nav div #logo{
    cursor: pointer;
    display: flex;
    top: 17px;
    position: absolute;
    margin-inline-start: 1px;
    height: 72px;
    
}
h2{
    color: white;
    position: absolute;
    top: 137px;
    left: 84px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 23px 23px;
    font-size: 34px;
}
.para{
    position: absolute;
    top: 289px;
    font-size: 18px;
    left: 84px;
    color: white;
}
#getyours{
    cursor: pointer;
    position: absolute;
    left:84px;
    background-color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:340px;
    height: 44px;
    
}
.fa-solid{
    cursor: pointer;
    color: white;
    padding:0px 15px
}
.fa-brands{
    padding:0px 15px;
    color: white;
    cursor:pointer;

}
.nav .con .fa-brands a{
    display: block;
    margin: 1.5rem;
    
}
.nav .con .fa-brands #name{
     display: none;
 }

 .nav .con .fa-brands #name{
     height: 29px;
     font-size:large;
     color: black;
     align-items: center;
     justify-self: center;
 }
.nav .con .fa-solid .box .coffee{
    display: inline-block;
    height: 2px;
    width:3px;
 }
 .nav .con #cart.box{
     display: none;
 }
